@page "{id:int}"
@model ViewingEditModel

@{
    ViewData["Title"] = "Edit Viewing";
}

<div class="mt-4 container">
    <h1>edit Viewing</h1>

    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         <input type="hidden" asp-for="Viewing.Id" />    
        <div class="form-group">
            <label asp-for="Viewing.MovieId" class="control-label">
                Movie ID
            </label>
            <input asp-for="Viewing.MovieId" class="form-control" placeholder="Voer een film id in..." />
            <span asp-validation-for="Viewing.MovieId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CreateRequest.Venue" class="control-label">
                Venue
            </label>
            <select class="form-control" asp-for="CreateRequest.Venue">
                <option value="small">Small</option>
                <option value="large">Large</option>
            </select>
            <span asp-validation-for="CreateRequest.Venue" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Viewing.Time" class="control-label">
                Datum
            </label>
            <input type="date" asp-for="Viewing.Time" class="form-control" placeholder="Voer een film datum in dd/mm/yyyy in..." />
            <span asp-validation-for="Viewing.Time" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Viewing.Time" class="control-label">
                Tijd
            </label>
            <input type="time" asp-for="Viewing.Time" class="form-control" placeholder="Voer een film tijd in hh:mm in..." />
            <span asp-validation-for="Viewing.Time" class="text-danger"></span>
        </div>

        <button class="btn btn-primary" type="submit">Opslaan</button>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
