/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
:root {
  /* Yellow */
  --theme-primary: #f5c71a;
  /* Darker yellow */
  --theme-primary-dark: #efcc00;
}

html,
body {
  font-size: 14px;
  font-family: "Lato", sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.btn-primary {
  background-color: var(--theme-primary);
  border-color: var(--theme-primary-dark);
  color: var(--dark);
  padding: 0.3rem 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.btn {
  padding: 0.3rem 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: var(--dark);
  background-color: var(--theme-primary-dark);
  border-color: var(--theme-primary);
}

.cover {
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.cover__title {
  text-shadow: black 0px 0px 5px;
}

.cover_cta {
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
}
